* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #601111, #2d0707);
    color: #f1f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2em;
    color: #f3f3f3;
    margin-bottom: 1em;
    text-align: center;
}

/* Neutral Area */
.neutralArea {
    display: flex;
    width: 400px;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background: #e0e4e933;
    border-radius: 10px;
    box-shadow: 0px 4px 12px #0000001a;
}

/* Itens arrastáveis */
.item {
    width: 90px;
    height: 90px;
    background: linear-gradient(135deg, #1a0da7, #427de2);
    color: #151515;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0px 4px 8px #00000033;
}

.item.dragging {
    opacity: 0.2;
    cursor: grabbing;
    transform: scale(1.1);
}

/* Área de destino */
.areas {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
}

.area {
    width: 120px;
    height: 120px;
    background: #34222286;
    border-radius: 10px;
    border: 2px dashed #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px #00000026;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.area.hover {
    border-color: #2575fc;
    background-color: #d6e5fa86;
}

.areas.correct .area {
    background-color: #71e771;
    border-color: transparent;
}

/* Footer */
footer {
    margin-top: 40px;
    font-size: 0.7em;
    color: #ccccccb1;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 600px) {
    .neutralArea, .areas {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .item, .area {
        width: 50px;
        height: 50px;
    }
}